h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    width: 100vw;
    max-width: 100%; 
    margin: 0;
    padding: 0;
    overflow-x:hidden;    
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;    
}

a {
    text-decoration: none;
    color: #000000;    
}

*, *::before, *::after {
    box-sizing: border-box;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 1em 2em;
    border: 1px solid white;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    text-align: center;
}

.connection {
    position: absolute;
    top: 15px;
    left: 5px;
}

.connected {
    color: green;
}

.failed {
    color: red;
}

#page-header {
    position: fixed;
    top:0;
    height: 100px;
    width: 100vw;
}

#page-main::after {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    background-image: url("../images/showcase.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    z-index: -1;
}

#page-main {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 400px;
}

.compname {
    font-size: 3em;
    color: black;
}

.login-header {
    margin-top: 1em;
}

#nav {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    justify-content: center;
    align-content: center;    
    height: 3em;
    border-bottom: 2px solid #000000;
}

#nav h1 {
    margin-left: 1em;
    justify-self: start;
    align-self: center;
}

nav {
    height: inherit;
    width: 100%;
}

ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;    
    display: flex;
    justify-content: space-evenly;   
    height: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;    
}

li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 100%;
}

li a {
    width: inherit;
    height: inherit; 
    color: #000000;
    text-decoration: none;
    text-align: center;
    line-height: 3em;
}

li a:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

#result {
    box-sizing: border-box;
    width: 60vw;
    margin: 0 auto;
    margin-top: 2em;
    padding: 0;
}

table {
    width: 100%;
}

tr, th {
    border: 1px solid black;
}

.results:hover {
    background-color: #ccf9fa;
}

.rowcount {
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
}

#page-footer {
    height: 150px;
    background-color: black;
    font-size: 1em;
    color: white;
}

.social {
    font-size: 2em;
    padding: 10px 10px;
}

section {
    height: 400px;
}

.searchform input[type=text]{
    width: 150px;
    height: 2.5em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchform input[type=text]:focus {
    width: 100%;
}

/* End of Index.php

/* LOGIN PAGE */

#login-main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    width: 100vw;
    background-color: #F0F0F0;
}

.login {
    width: 320px;
    height: 500px;
    border: 2px solid black;   
    background-color: #fff;
    box-shadow: 4px 8px 10px rgba(1,1,1, 0.5);
}

.college-header {
    margin: 1em;
    padding: 1em;
}

form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-bottom: 2em;
    width: 100%;
    height: auto;
}

label, input, select {
    width: 200px;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
    align-self: center;
    margin: 0.5em 0;
}

hr {
    width: 200px;
}

input {
    border: 2px solid #000000;
    align-self: center;
}

input[type=submit] {
    box-sizing: border-box;
    width: 200px;
    padding: 0;
    border: 5px solid #000000;
    border-radius: 10px 0 10px 0;
    background-color: rgba(255,255,255, 0.7);
    font-weight: bold;
    height: 3em;
}

input[type=submit]:hover {
    border: 5px solid #000000;
    border-radius: 0 10px 0 10px;
    background-color: rgba(0,0,0, 0.5);
    color: #ffffff;    
}

/* END LOGIN PAGE */

/* Contact Page */

#contact-main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    flex-direction: row;
    width: 100vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 3em 0;
    box-sizing: border-box;
}

.contact-form {
    background-color: #F5F5F5;
    width: 50%;
    height: 100%;
    border: 2px solid #000000;
    border-right: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.contact-form h3 {
    text-transform: uppercase;
    margin: 1em 0;
}

.contact-social {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    flex-direction: column;
    width: 25%;
    height: 100%;
    align-self: center;
    border-top-right-radius: 25px;    
}

.contact-details {
    width:100%;
    height: 50%;
    background-color: #BDD1E5;    
    border: 2px solid #000000;
    border-left: 0px;
    border-bottom: 0px;
    border-top-right-radius: 25px;
    overflow: hidden;
}

.contact-map {
    width: 100%;
    height: 50%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-form form {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 1em;    
}

.contact-form form label {
    width: 25%;    
} 

.contact-form form input,
.contact-form form select {
    width: 75%;
}


.test {
    width: 100vw;
    height: 50vh;
    background-image: url('../images/showcase.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    
    #nav h1 {
        font-size: 1em;
    }    

    #contact-main {
        flex-direction: column;
        height: 150vh;
    }
    
    .contact-form {
        height: 75vh;
        width: 75vw;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
        border-right: 2px solid black;
        border-bottom: 0;
    }
    
    .contact-social {
        width: 75vw;
        height: 75vh;
    }
    
    .contact-form form {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .contact-form form label {
        width: 75%;    
    } 

    .contact-details {
        border-top: 0;
        border-top-right-radius: 0;
        border-left: 2px solid black;  
        height: 100%;
    }
    
    .contact-map {
        border-left: 2px solid black;        
        border-bottom-left-radius: 25px;
        height: 100%;
    }
}
